
{{>header}}
<div class="container">
    <div class="row">
  {{#each data}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{this.img}} alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">
            {{this.name}}
          </h5>
          <p class="card-text">
            {{this.price}}
          </p>
          <a href="#" class="btn btn-primary">
            buy
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>

</div>




